

<h1>Panel de productos</h1>

    <form action="/api/products/form" method="post" enctype="multipart/form-data">
        <label for="">Titulo</label>
        <input name="tittle">
        <label for="">Precio</label>
        <input name="price">
        <label for="">imagen</label>
        <input type="file" name="thumbnail" >
        <input type="submit">
    </form>

    <button href="http://localhost:8080/api/products/productList">Lista de productos</button>

