<% products.forEach(product => { %>
        <h4><%= product.tittle %> </h4>
        <h5><%= product.price %> </h5>
        <img src="<%= product.thumbnail %> " alt="...">
<% }) %>

<button href="http://localhost:8080/api/products/">Formmulario</button>